#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/

/*
@media print {
  * {
    overflow: hidden !important;
  }
}
*/

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* classes */
.worker_card {
  border-color: #1a1a1a;
  border-radius: 15px;
  border-width: 3px;
}

.formModal {
  left: "0%";
  position: "absolute";
}

/* MANTINE */
.mantine-Grid-root,
.mantine-Grid-inner,
.mantine-Grid-col {
  height: 100%;
}

.mantine-Modal-title,
.mantine-Modal-header,
.mantine-Modal-close {
  color: #FFF;
}

.mantine-Modal-header {
  background-color: #269AFF;
}

.mantine-Modal-title,
.mantine-Drawer-title {
  font-weight: 600;
}

.mantine-Modal-close:hover,
.mantine-Drawer-close:hover {
  background-color: #1c7ed6;
}

.mantine-Drawer-close {
  color: #FFF
}


.settings,
.settings:hover,
.mantine-ActionIcon-root,
.mantine-ActionIcon-root:hover,
.mantine-Button-root,
.mantine-Button-root:hover {
  outline: 0px;
  border: 0px;
}

.mantine-RadioGroup-description {
  text-align: center;
}

/*.mantine-Radio-root,
.mantine-Radio-body,
.mantine-Radio-labelWrapper,*/
.mantine-Radio-radio,
.mantine-Radio-icon,
.mantine-Radio-inner,
.mantine-Radio-label,
.mantine-Switch-input,
.mantine-Switch-track,
.mantine-Switch-label {
  cursor: pointer;
  font-weight: 600;
}



/* FULL CALENDAR */
.fc-header-toolbar {
  padding: 2px 0px 0px 3px;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-multimonth-header {
  text-transform: capitalize;
}

.fc .fc-bg-event {
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 2.5%;
}

.weekend {
  background-color: rgba(240, 240, 240, 0.5);
}

.fc-day {
  line-height: 1em;
  font-size: 0.95em;
  text-overflow: ellipsis;
}

.fc-event-main {
  padding-top: 1px;
  padding-bottom: 3px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.headerTitle {
  background-color: #269AFF;
  color: #FFF;
  cursor: pointer;

  /* Seleção de texto */
  /* Safari */
  -webkit-user-select: none;
  /* IE 10 and IE 11 */
  -ms-user-select: none;
  /* Standard syntax */
  user-select: none;
}


.headerTitle:hover {
  background-color: #1c7ed6;
}




/* WorkerList hover shenanigans */
.dephover {
  display: inline-block;
  position: relative;
}

.dephover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--hover-color);
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

.depcont:hover .dephover::after {
  transform: scaleX(1);
}